@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #292929;
  -webkit-box-shadow: inset 0 0 2px #000000;
          box-shadow: inset 0 0 2px #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #F1F1F1;
  border-radius: 6px;
}

.flexContainer, header, main, main .hero, main .hero #time, main .timetable, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component, header, main .hero, main .timetable, footer {
  -webkit-box-shadow: 0 0 15px #000000;
          box-shadow: 0 0 15px #000000;
  background-color: #1B1B1B;
}

.noselect, * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textShadow, main .hero #time, main .hero #text {
  color: #F1F1F1;
  text-shadow: 1px 0 0 #1B1B1B, 0 -1px 0 #1B1B1B, 0 1px 0 #1B1B1B, -1px 0 0 #1B1B1B;
}

html {
  background-color: #292929;
  scroll-behavior: smooth;
  height: 100%;
}

header {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: fixed;
  width: 100%;
  opacity: 98.5%;
  top: 0;
  z-index: 100;
}

header img {
  width: 60px;
  height: 60px;
  margin: 4px;
}

body {
  height: 100%;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 95%;
  margin-top: 96px;
  color: #F1F1F1;
}

main .hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  height: 65%;
  padding: 10px;
  margin-bottom: 30px;
}

main .hero #time, main .hero #text {
  margin: 6px;
  text-align: center;
  width: 100%;
}

main .hero #text {
  font-size: 50px;
  line-height: 1.35;
}

main .hero #time {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.35;
}

main .hero #time #curSec {
  color: #e43213;
}

main .timetable {
  margin-bottom: 30px;
  width: 85%;
  padding: 20px;
}

main .timetable th, main .timetable td {
  border: 1px solid #F1F1F1;
  text-align: center;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 1.5px;
}

main .timetable .day {
  background-color: #F1F1F1;
  color: #1B1B1B;
  font-weight: 700px;
}

main .timetable .cur {
  background-color: #e43213;
}

main .timetable .next {
  background-color: green;
}

footer {
  width: 100%;
  height: 64px;
  bottom: 0;
}

footer p {
  font-size: 14px;
  color: #F1F1F1;
}

@media only screen and (min-width: 1080px) {
  main > .hero > #text {
    font-size: 100px;
  }
  main > .hero > #time {
    font-size: 128px;
  }
}
/*# sourceMappingURL=main.css.map */